* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-bg);
}

/* FORSIDE */

/* HERO */
.hero {
  display: flex;
  justify-content: center;
  height: 30vh;
  background-image: url("../img/hero-img.jpg");
  opacity: 95%;
  position: relative;
  z-index: 0;
}

.hero-vektor {
  position: absolute;
  max-width: 300px;
  top: 35%;
}

@media (min-width: 800px) {
  .hero {
    width: 100%;
    height: 60vh;
    background-image: url("../img/hero-img.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .hero-vektor {
    position: absolute;
    top: 30%;
    max-width: 900px;
  }
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* FØRSTE SEKTION */
.velkommen {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
  text-align: center;
  border-bottom: solid black 2px;
}
.velkommen h2 {
  padding-bottom: 1rem;
  color: var(--color-text-headline);
}
.velkommen p {
  padding: 20px;
}

/* ANDEN SEKTION */
.projekter-forside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
  border-bottom: solid black 2px;
}
.projekter-forside h1 {
  padding-top: 20px;
}
.projekter-forside p {
  padding: 20px;
}

.projekter-forside a {
  align-items: center;
  text-decoration: none;
  color: var(--color-bg);
  background-color: var(--color-button);
  border-radius: var(--button-border-radius);
  /* padding: 10px 100px; */
}

/* TREDJE SEKTION */
.om-mig-forside {
  padding: 2rem;
  color: var(--color-text);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.potrætfoto-tekst h1 {
  padding-top: 2rem;
  padding-bottom: 20px;
}
.potrætfoto-teks p {
  padding-bottom: 10px;
}
.potrætfoto-forside {
  padding-top: 3rem;
  object-fit: cover;
}
.knap-lookalike {
  grid-column: 2;
  text-decoration: none;
  color: var(--color-bg);
  background-color: var(--color-button);
  border-radius: var(--button-border-radius);
  padding: 10px 35px;
}
.knap-forside {
  padding-top: 20px;
}
/* FORSIDE DESKTOP */
@media screen and (min-width: 800px) {
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
  .velkommen p {
    width: 800px;
    text-align: center;
  }
  .projekter-forside h1 {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
  .projekter-forside p {
    line-height: 37px;
    padding: 20px;
    width: 800px;
    text-align: center;
  }
  .projekter-forside {
    padding-bottom: 7rem;
  }
  .om-mig-forside h1 {
    padding-bottom: 3rem;
  }
  .potrætfoto-forside {
    padding-bottom: 4rem;
  }
  .om-mig-forside p {
    line-height: 37px;
  }
  .om-mig-forside {
    padding: 2rem;
    gap: 55px;
  }
  .knap-forside {
    padding-top: 3rem;
  }
  .knap-lookalike {
    padding: 10px 200px;
  }
  .velkommen h2 {
    padding-top: 5rem;
  }
}

/* OM MIG START */

/* HERO */
.hero3 {
  display: flex;
  justify-content: center;
  height: 30vh;
  background-image: url("../img/hero-img.jpg");
  opacity: 95%;
  position: relative;
  z-index: 0;
}

.hero-vektor3 {
  position: absolute;
  max-width: 300px;
  top: 35%;
}

/* NAV */
.om-mig-nav nav {
  border-bottom: solid black 2px;
  padding: 2rem 1rem;
  /* display: flex; */
  gap: 2rem;
  /* justify-content: center; */
  /* position: sticky;
  top: 0; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
}

.om-mig-nav a {
  color: var(--color-text);
  text-decoration: none;
  font-size: var(--font-body-mb-size);
}

/* FØRSTE SEKTION */
#sektion1 {
  padding-bottom: 2rem;
}
.ophe-tekst h1 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.ophe-tekst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 0.5rem;
}
.ophe-billede {
  margin: 1.5rem;
}
/* ANDEN SEKTION */
.erfaring-tekst {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.erfaring-tekst h1 {
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}
.erfaring-tekst p {
  padding-bottom: 2rem;
}
.informerende-tekst {
  width: 400px;
}

.container-billeder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px;
  text-align: center;
}
.billeder-erfaring,
.billeder-erfaring2,
.billeder-erfaring3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* TREDJE SEKTION */
.foerste-semester-tekst {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 4rem;
}

.foerste-semester-tekst p {
  width: 400px;
  padding-bottom: 1rem;
}

.foerste-semester-tekst h1 {
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-align: center;
}

/* OM MIG DESKTOP */
@media screen and (min-width: 800px) {
  .hero3 {
    width: 100%;
    height: 60vh;
    background-image: url("../img/hero-img.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .hero-vektor3 {
    position: absolute;
    top: 35%;
    max-width: 650px;
  }
  main {
    max-width: 1200px;
    margin: 0 auto;
  }

  .om-mig-nav nav a {
    padding: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .om-mig-nav nav a:hover {
    background-color: #d1cccb;
  }
  .om-mig-nav a {
    font-size: 1.5rem;
  }
  .ophe-tekst h1 {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .ophe-tekst p,
  .informerende-tekst,
  .foerste-semester-tekst p {
    width: 800px;
    text-align: center;
  }
  #sektion1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 5rem;
    border-bottom: black solid 2px;
  }
  .ophe-billede {
    height: 512px;
    width: 384px;
  }

  #sektion2 {
    padding-bottom: 5rem;
    border-bottom: black solid 2px;
  }
  .erfaring-tekst h1 {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
  .container-billeder {
    padding-top: 2rem;
  }
  #sektion3 {
    padding-bottom: 5rem;
  }
  .foerste-semester-tekst h1 {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
}
