:root {
  /* baggrundsfarver */
  --color-bg: #fdfbf0;
  --color-bg-2: #f7acce;
  --color-bg-3: #1c1a1a;

  /* Tekst farve*/
  --color-text-inverted: #1c1a1a;
  --color-text: #f7acce;
  --color-text-header-footer: #ff2196;

  /* Fonter */

  /* Knap styling */
  --color-button: #ff2196;
  --button-border-radius: 35px;

  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Font size */
  --font-h1-size: 3rem;
  --font-h2-size: 2rem;
  --font-h3-size: 1.5rem;
  --font-body-size: 1rem;
}
h1 {
  font-family: "nunito sans";
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-h1-size);
}

h2 {
  font-family: "montserrat";
  font-weight: var(--font-weight-medium);
  font-size: var(--font-h2-size);
}
h3 {
  font-family: "petit formal script";
  font-weight: var(--font-weight-regular);
  font-size: var(--font-h3-size);
}
p {
  font-family: "montserrat";
  font-size: var(--font-body-size);
}

a {
  font-family: "nunito sans";
  font-size: var(--font-body-size);
}
