:root {
  /* baggrundsfarver */
  --color-bg: #fdfbf0;
  --color-bg-header-footer: #1c1a1a;

  /* Tekst farve*/
  --color-text: #1c1a1a;
  --color-text-headline: #cb0028;
  --color-text-header-footer: #fdfbf0;

  /* Fonter */

  /* Knap styling */
  --color-button: #83001d;
  --button-border-radius: 35px;

  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Font size */
  --font-h1-size: 3rem;
  --font-h2-size: 2rem;
  --font-h3-size: 1.5rem;
  --font-body-size: 1.2rem;
  --font-body-mb-size: 0.8rem;
}
h1 {
  font-family: "nunito sans";
  font-weight: var(--font-weight-bold);
  font-size: var(--font-h2-size);
  color: var(--color-text-headline);
}
h2 {
  font-family: "montserrat";
  font-weight: var(--font-weight-medium);
  font-size: var(--font-h3-size);
}
h3 {
  font-family: "montserrat";
  font-weight: var(--font-weight-regular);
  font-size: var(--font-body-size);
}
p {
  font-family: "nunito sans";
  font-size: var(--font-body-mb-size);
}

a {
  font-family: "nunito sans";
  font-size: var(--font-body-mb-size);
}

@media screen and (min-width: 800px) {
  h1 {
    font-family: "nunito sans";
    font-weight: var(--font-weight-bold);
    font-size: var(--font-h1-size);
  }

  h2 {
    font-family: "montserrat";
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-h2-size);
  }
  h3 {
    font-family: "montserrat";
    font-weight: var(--font-weight-medium);
    font-size: var(--font-h3-size);
  }
  p {
    font-family: "nunito sans";
    font-size: var(--font-body-size);
    font-weight: var(--font-weight-regular);
  }

  a {
    font-family: "nunito sans";
    font-size: var(--font-body-size);
  }
}
